<!-- 
    Launch nodes for Gazebo simulation environment
 -->

<launch>
    <!-- This node will launch MAVROS -->
    <include file="$(find monash_main)/launch/sub_launch/gazebo_apm.launch"/>

    <!-- This node will launch the node the rosbridge_server websocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>